*{
    
    text-align: center;
    font-family: cursive;
    
    font-size: 25px;
    
    border-color: white;
    
    color: rgb(0, 0, 0);
}
.j1{
    color: rgb(52, 0, 52);
}
.c2{
    margin-top: 50px;
}
.b1{
    margin-top: 100px;
    color: black;
    background-color: white;
    border-style: none;
    border-color: black;
    border-width: .1px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.b1:hover{
    background-color: black;
    color: white;
}
.c1{
   
    margin-top: 100px;
}
.i1{
    border-style: none;
    color: black;
    background-color: white;
}
.i1:hover{
    background-color: black;
    color: white;
}
.i2{
    border-style: none;
    color: black;
    background-color: white;
}
.i2:hover{
    background-color: black;
    color: white;
}